# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!.storage/lovelace

# Ignore folders.
.storage
.cloud
.google.token
tts

# Ignore secrets
ip_bans.yaml
secrets.yaml
known_devices.yaml
ssh-public-key.txt